<form class="form" action="/answer" method="get">
    <h1 class="subheader"><strong>Ask me anything you lazy ass:</strong></h1>
    <div class="input-button">
        <input class="input" type="text" name="question" placeholder='Like: "How sexy are you, dear loveable Coach?"'>
        <input class="button" type="submit" value="Ask">
    </div>
</form>
